body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

p {
    margin: 0px;
}

hr {
    margin: 0px;
    width: 100%;
}

.graphInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 160px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    visibility: hidden;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    margin: 10px;
}