name: Deploy

on:
  # Can run on command
  workflow_dispatch:
  # Can be run by other actions
  workflow_call:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # As usual, we simply checkout the project
      - name: Checkout
        uses: actions/checkout@v4
      # Setup the latest version of Bun
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      # Install project dependencies
      - name: Install dependencies
        run: bun install --frozen-lockfile
      # Build the project
      - name: Predeploy
        run: bun predeploy
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
