name: smoke

on:
  # Can run on command
  workflow_dispatch:
  # Can be run by other actions
  workflow_call:
  # Runs every day at midnight
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: smoke
    # Running on ubuntu-latest, nothing special
    runs-on: ubuntu-latest
    steps:
      # As usual, we simply checkout the project
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: screenshots
      # Setup the latest version of Bun
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      # Install project dependencies
      - name: Install dependencies
        run: bun install --frozen-lockfile
      # Install Playwright browsers
      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps
      # Run Playwright tests
      - name: Run tests
        run: bun run test:smoke
      - name: Commit screenshots
        run: |
          git config --global user.email "coughlinscc33@gmail.com"
          git config --global user.name "Sean Coughlin"
          git add -f screenshots
          git commit -m "Add test screenshots"
          git push
